
Application/.idea/

Application/__pycache__/

Application/dist/

Application/build/

Application/CameraApp.spec

Application/tzdata/

Application/Scripts/

Application/experiment.json

Application/currentSession.json


C\+\+_outOfDate/

*.zip

*.db

*.autosave

*.pyc

PlantCV-dev/


Application/Camera_*.json

Application/EtcLinkMonitor.bsc

Application/EtcLinkMonitor.pdb


EtcLinkMonitor/.vs/*
EtcLinkMonitor/x64/*


EtcLinkMonitor/Application/EtcLinkMonitor.exe

EtcLinkMonitor/Application/EtcLinkMonitor.ilk

EtcLinkMonitor/EtcLinkMonitor.exe

EtcLinkMonitor/EtcLinkMonitor.ilk

Application/EtcLinkMonitor.ilk

Breeze themes/

Application/RaynVisionSystem.spec

Application/EtcLink/EtcLinkMonitor.bsc

Application/EtcLink/EtcLinkMonitor.ilk

Application/EtcLink/EtcLinkMonitor.pdb

Application/analysis.json

.idea/

Application/RaynVisionSystem.ini

Application/.rvs

Application/old scripts/

*.xp

*.log

ApplicationQt5/
Application/temp.html

Application/temp.png

PlantCV3-dev/

PlantCV4-dev/

Application/Masks/

Application/error.log.1

Application/error.log.2

Application/error.log.3

Application/error.log.4

Application/error.log.5

Application/jsonschema_specifications/


Application/Installer/packages/com.etcconnect.raynvisionsystem/data/

Application/Installer/generated/


Application/VersionInfoGenerated.txt

Application/resources/rc_CameraApp.py

Application/generated/

Application/runUiRcc.bat

Application/Installer

Test/test_results/
