/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NoLines;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 6;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1_nobreak;
	id: 1;
	cell-padding-top: 5pt;
	cell-padding-bottom: 0px;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1_default;
	id: 6;
	cell-padding-top: 5pt;
	cell-padding-bottom: 0px;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1_break_before;
	id: 4;
	cell-padding-top: 5pt;
	cell-padding-bottom: 0px;
	type: Manual;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1_break_after;
	id: 5;
	cell-padding-top: 5pt;
	cell-padding-bottom: 0px;
	type: Manual;
	page-break-before: avoid;
	page-break-after: always;
	page-break-inside: avoid;
}


/* Cell Styles: */
 
.TableStyle-NoLines
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-NoLines-Column-Column1
{
	
}

.TableStyle-NoLines-HeadI-Column1-
{
	
}

.TableStyle-NoLines-HeadI-Column1- p
{
	
}

.TableStyle-NoLines-HeadE-Column1-
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-HeadE-Column1- p
{
	
}

.TableStyle-NoLines-HeadF-Column1-
{
	
}

.TableStyle-NoLines-HeadF-Column1- p
{
	
}

.TableStyle-NoLines-HeadH-Column1-
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-HeadH-Column1- p
{
	
}

.TableStyle-NoLines-HeadD-Column1-
{
	
}

.TableStyle-NoLines-HeadD-Column1- p
{
	
}

.TableStyle-NoLines-HeadC-Column1-
{
	
}

.TableStyle-NoLines-HeadC-Column1- p
{
	
}

.TableStyle-NoLines-HeadB-Column1-
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-HeadB-Column1- p
{
	
}

.TableStyle-NoLines-HeadA-Column1-
{
	
}

.TableStyle-NoLines-HeadA-Column1- p
{
	
}

.TableStyle-NoLines-HeadG-Column1-
{
	
}

.TableStyle-NoLines-HeadG-Column1- p
{
	
}

.TableStyle-NoLines-FootI-Column1-
{
	
}

.TableStyle-NoLines-FootI-Column1- p
{
	
}

.TableStyle-NoLines-FootE-Column1-
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-FootE-Column1- p
{
	
}

.TableStyle-NoLines-FootF-Column1-
{
	
}

.TableStyle-NoLines-FootF-Column1- p
{
	
}

.TableStyle-NoLines-FootH-Column1-
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-FootH-Column1- p
{
	
}

.TableStyle-NoLines-FootD-Column1-
{
	
}

.TableStyle-NoLines-FootD-Column1- p
{
	
}

.TableStyle-NoLines-FootC-Column1-
{
	
}

.TableStyle-NoLines-FootC-Column1- p
{
	
}

.TableStyle-NoLines-FootB-Column1-
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-FootB-Column1- p
{
	
}

.TableStyle-NoLines-FootA-Column1-
{
	
}

.TableStyle-NoLines-FootA-Column1- p
{
	
}

.TableStyle-NoLines-FootG-Column1-
{
	
}

.TableStyle-NoLines-FootG-Column1- p
{
	
}

.TableStyle-NoLines-Body-Body1_nobreak
{
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

.TableStyle-NoLines-BodyI-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyI-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyE-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyE-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyF-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyF-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyH-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyH-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyD-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyD-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyC-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyC-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyB-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyB-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyA-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyA-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-BodyG-Column1-Body1_nobreak
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyG-Column1-Body1_nobreak p
{
	
}

.TableStyle-NoLines-Body-Body1_default
{
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: avoid;
}

.TableStyle-NoLines-BodyI-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyI-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyE-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyE-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyF-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyF-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyH-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyH-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyD-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyD-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyC-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyC-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyB-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyB-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyA-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyA-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-BodyG-Column1-Body1_default
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyG-Column1-Body1_default p
{
	
}

.TableStyle-NoLines-Body-Body1_break_before
{
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
}

.TableStyle-NoLines-BodyI-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyI-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyE-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyE-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyF-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyF-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyH-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyH-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyD-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyD-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyC-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyC-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyB-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyB-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyA-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyA-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-BodyG-Column1-Body1_break_before
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyG-Column1-Body1_break_before p
{
	
}

.TableStyle-NoLines-Body-Body1_break_after
{
	page-break-before: avoid;
	page-break-after: always;
	page-break-inside: avoid;
}

.TableStyle-NoLines-BodyI-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyI-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyE-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyE-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyF-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyF-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyH-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyH-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyD-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoLines-BodyD-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyC-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyC-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyB-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NoLines-BodyB-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyA-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyA-Column1-Body1_break_after p
{
	
}

.TableStyle-NoLines-BodyG-Column1-Body1_break_after
{
	padding-top: 5pt;
	padding-bottom: 0px;
}

.TableStyle-NoLines-BodyG-Column1-Body1_break_after p
{
	
}


