/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Rows_8pt_topalign;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	max-id: 4;
	margin-left: 0.150in;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #c0c0c0;
	color: #000000;
	name: Header1;
	id: 3;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	text-align: left;
	font-size: 8pt;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: white_default;
	id: 2;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	text-align: left;
	vertical-align: top;
	font-size: 8pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #f5f5f5;
	name: gray_default;
	id: 1;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	vertical-align: top;
	text-align: left;
	font-size: 8pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: nobreak_white;
	id: 6;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	text-align: left;
	vertical-align: top;
	font-size: 8pt;
	page-break-inside: avoid;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #f5f5f5;
	name: nobreak_gray;
	id: 5;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	vertical-align: top;
	text-align: left;
	font-size: 8pt;
	page-break-inside: avoid;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: breakbefore_white;
	id: 8;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	text-align: left;
	vertical-align: top;
	font-size: 8pt;
	page-break-before: always;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #f5f5f5;
	name: breakbefore_gray;
	id: 7;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	vertical-align: top;
	text-align: left;
	font-size: 8pt;
	page-break-before: always;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: breakafter_white;
	id: 10;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	text-align: left;
	vertical-align: top;
	font-size: 8pt;
	page-break-after: always;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #f5f5f5;
	name: breakafter_gray;
	id: 9;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	vertical-align: top;
	text-align: left;
	font-size: 8pt;
	page-break-after: always;
	type: Manual;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
	font-size: 8pt;
}


/* Cell Styles: */
 
.TableStyle-Rows_8pt_topalign
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	margin-left: 0.150in;
	border-spacing: 0px 0px;
}

.TableStyle-Rows_8pt_topalign-Column-Column1
{
	
}

.TableStyle-Rows_8pt_topalign-Head-Header1
{
	
}

.TableStyle-Rows_8pt_topalign-HeadI-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-HeadI-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadE-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-HeadE-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadF-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-HeadF-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadH-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-HeadH-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadD-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-HeadD-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadC-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-HeadC-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadB-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-HeadB-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadA-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-HeadA-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-HeadG-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	background-color: #c0c0c0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-HeadG-Column1-Header1 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Foot-Footer1
{
	
}

.TableStyle-Rows_8pt_topalign-FootI-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 8pt;
	background-color: #c0c0c0;
}

.TableStyle-Rows_8pt_topalign-FootI-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootE-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-size: 8pt;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows_8pt_topalign-FootE-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootF-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 8pt;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows_8pt_topalign-FootF-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootH-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-size: 8pt;
	background-color: #c0c0c0;
}

.TableStyle-Rows_8pt_topalign-FootH-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootD-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 8pt;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows_8pt_topalign-FootD-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootC-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 8pt;
	background-color: #c0c0c0;
}

.TableStyle-Rows_8pt_topalign-FootC-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootB-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-size: 8pt;
	background-color: #c0c0c0;
}

.TableStyle-Rows_8pt_topalign-FootB-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootA-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 8pt;
	background-color: #c0c0c0;
}

.TableStyle-Rows_8pt_topalign-FootA-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-FootG-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 8pt;
	background-color: #c0c0c0;
}

.TableStyle-Rows_8pt_topalign-FootG-Column1-Footer1 p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-white_default
{
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: avoid;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-white_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-white_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-gray_default
{
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: avoid;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-gray_default
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-gray_default p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-nobreak_white
{
	page-break-inside: avoid;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-nobreak_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-nobreak_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-nobreak_gray
{
	page-break-inside: avoid;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-nobreak_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-nobreak_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-breakbefore_white
{
	page-break-before: always;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakbefore_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakbefore_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-breakbefore_gray
{
	page-break-before: always;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakbefore_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakbefore_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-breakafter_white
{
	page-break-after: always;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakafter_white
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakafter_white p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-Body-breakafter_gray
{
	page-break-after: always;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyI-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyE-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyF-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyH-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyD-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyC-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows_8pt_topalign-BodyB-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyA-Column1-breakafter_gray p
{
	font-size: 8pt;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakafter_gray
{
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Rows_8pt_topalign-BodyG-Column1-breakafter_gray p
{
	font-size: 8pt;
}


